{% extends 'base.html' %}
{% block title %}
	Editar Biblioteca 
{% endblock %}
{% block content %}


<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2015",
      dateFormat: 'dd/mm/yy',
      // You can put more options here.

    });
  });
  </script>
  <center> <h4> Editar préstamo  </h4> </center>
	<form action="." method="POST"align="center">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-success">Guardar cambios </button>
		<a class="btn btn-danger" href="/prestamos/"> Cancelar </a>
	{{ info}}
{% endblock %}