{%extends 'base.html' %}


{% block title %}
	Libro
{% endblock %}


{% block content %}		
		<table class = "table table-hover ">
				<theader>

					<center>
					<h3>{{ libro.nombre_libro }}</h3>
					<br>
					{% if libro.imagen %} 
						<img src = "/media/{{ libro.imagen }}" width = "200px" alt="la imagen no está disponible" heigth = "80px"> </center>
					{% endif %}
  
				</theader>
					<tbody>
						<tr>
							<td><h4>Autor</h4><p>		{{ libro.autor }}</p></td>
							<td><h4>Código </h4>		<br>{{ libro.codigo }}</td>
							<td><h4>Fecha de adquisición </h4><br>{{ libro.fecha_adquisicion }}</td>

								
							<tr>	
								<td><h4>Categoría</h4>
								{% for c in libro.categoria.all %} 
									
										{{ c }}

								{% endfor %}</td>
								<td><p><h4>Versión </h4>				<br>{{ libro.version }}</p></td>
								<td><h4>Fecha de publicación</h4>		<br>{{ libro.fecha_publicacion }}</td>
							</tr>
								
							<br>
							
						</tr>
							<tr>
								<td><p><h4>Editorial </h4>			<br>{{ libro.editorial }}</td>
								<td><h4>Páginas </h4>					<br>{{ libro.paginas }}</td>
								<td><p><h4>Tomo </h4> 				<br>{{ libro.tomo }}</td>
							</tr>
							<tr>	
								<td><h4>Estado</h4> 					<br>{{ libro.estado }}</p></td>
								<td><p> <h4>Disponible:   </h4> 
									
								{% if libro.disponibilidad = True and libro.estado_prestamo = Devuelto %} 
									<h4><font color="green"> Si </font>  </h4>
								{% else %}
									<h4> <font color="red"> No </font></h4>
								{% endif %}


								</p> </td>
								<td> <h4> Observación: </h4>				<br>{{ libro.observacion }}</td>


							<tr>
						</tr>
					</tbody>
		</table>
					 

							{% if libro.disponibilidad = True %}  <!-- SI LIBRO ESTA EN "TRUE", permite el prestamo del libro, sino... -->
							{% else %}
								<h2> El libro no está disponible </h2>
							{% endif %}
		{% if user.is_authenticated and user.is_staff and user.is_superuser %}	
			<a class ="btn btn-warning" href= "/edit/libro/{{libro.id}}"> <li class= "icon-pencil"></li> Editar </a>
			{% if libro.disponibilidad = True %}
				<a class ="btn btn-primary" href="/reservar/{{ libro.id }}"> Reservar libro </a>
			{% else %}
			{% endif %}
		{% endif %}	

			<a class="btn btn-primary" href="/libros/">Lista de libros</a>
		
		
{% endblock %}















