{% extends 'base.html' %}
 
{% block title %}
	Prestamo
{% endblock %}
{% block content %}
	<table>
			

			<h3> Detalles del préstamo </h3>
			<tr>
				<td> <h4> Fecha de préstamo:</h4> </td><td>{{ prestamo.fecha_prestamo }}</td> <!-- dom-22 marzo  -->
			</tr>
			<tr>
				<td>  <h4> Fecha de devolución: </td><td> {{ prestamo.fecha_devolucion }}</td> 
			</tr>
			<tr>
				<td> <h4> Libro:  </td><td>{{ prestamo.libro}} </h4> </td> 
			</tr>
			<tr>
				<td> <h4> Usuario:   </td><td>{{ prestamo.usuario }}</td>
			</tr>
			<tr>
				<td> <h4> Identificación:   </td><td>{{ prestamo.usuario.identificacion }}</td
			</tr>
			<tr>
				<td> <h4> Bibliotecario: </td><td> {{ prestamo.bibliotecario }}</td>
			</tr>
			<tr>
				<td> <h4> Estado del préstamo:  </td><td> {{ prestamo.estado_prestamo }} </h4></td>
			</tr>
	</table>


			<p> <a class="btn btn-primary" href="/prestamos/"> Mostrar préstamos </a> </p>

		
{% endblock %}